<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viwport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/Arupa/user_orders_style.css">
        <style>
            .msg{
                margin: 100px 150px;
                padding-inline: 40px;
                padding-top: 40px;
            }
            .msg p{
                color: grey;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="class1">
            <div class="backgroundimg">
                <div class="menubar">
                    <img src="/Rashu/design_logo_02.jpg" class="logo">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a th:href="@{'/designer_list/' + ${user.id}}">Designers</a></li>
                        <li><a href="/home">Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="sidebar">
                    <h2 th:text="${user.name != null ? user.name : ''}"></h2>
                    <h4 th:text="'ID: ' + ${user.id}" style="color: #484747; text-align: center; margin-bottom: 10px"></h4>
                    <ul>
                        <li><a th:href="@{'/UserProfile/' + ${user.id}}">My profile</a></li>
                        <li class="active"><a th:href="@{'/completedOrders/' + ${user.id}}">My orders</a></li>
                        <li><a th:href="@{'/runningContest/' + ${user.id}}">My contests</a></li>
                        <li><a th:href="@{'/requestdetails/' + ${user.id}}">My requests</a></li>
                        <li ><a th:href="@{'/placeOrder/' + ${user.id}}">Place a new order</a></li>
                        <li><a th:href="@{'/contest/' + ${user.id}}">Request for a contest</a></li>
                        <li><a th:href="@{'/password/' + ${user.id}}">Password settings</a></li>
                    </ul>
                </div>
                <div class="content">
                    <div class="type">
                        <a th:href="@{'/completedOrders/' + ${user.id}}"><button class="type-btn">Completed</button></a>
                        <a th:href="@{'/inProgress/' + ${user.id}}"><button class="type-btn">In progress</button></a>
                        <a th:href="@{'/pendingOrders/' + ${user.id}}"><button class="type-btn">Pending</button></a>
                    </div>
                    <div th:if="${message}" class="msg">
                        <p th:text="${message}"></p>
                    </div>
                    <main th:if="${orders}">
                        <section class="header">
                            <div class="items-controller">
                                <h4>Show</h4>
                                <select name="" id="itemperpage">
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="08" selected>08</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                                <h4>Per Page</h4>
                            </div>
                            <div class="search">
                                <h4>Search</h4>
                                <input type="text" name="" id="search" placeholder="Title/Designer name">
                            </div>
                        </section>
                        <section class="field">
                            <table>
                                <thead>
                                    <tr>
                                      <th>Order ID</th>
                                      <th style="width:25%">Designer</th>
                                      <th>Title</th>
                                      <th>Date</th>
                                      <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="index : ${#numbers.sequence(0, #lists.size(orders)-1)}">
                                    <td th:text="${orders[index].order_id}"></td>
                                    <td><a th:href="@{'/uDesignerProfile/' + ${designers[index].id} + '/' + ${user.id}}" style="text-decoration: none">
                                        <h4 th:text="${designers[index].name}" style="color: rebeccapurple"></h4>
                                    </a></td>
                                    <td th:text="${orders[index].title}"></td>
                                    <td th:text="${orders[index].order_date}"></td>
                                    <td th:text="${orders[index].description}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="bottom-field">
                                <ul class="pagination">
                                  <li class="prev"><a href="#" id="prev">&#139;</a></li>
                                    <!-- page number here -->
                                  <li class="next"><a href="#" id="next">&#155;</a></li>
                                </ul>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container_ftr">
                <div class="row">
                    <div class="footer-col">
                        <ul>
                            <li>&copy; COPYRIGHT Reserved by</li>
                            <li>Digital Art Design </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul>
                        <div class="contact">
                            <li>Contact Information:</li>
                            <li>Address: Chittagong ,Bangladesh</li>
                            <li>Phone: <a href="tel:+15551234567">(555) 123-4567</a></li>
                            <li>Email: <a href="mailto:info@example.com">info@example.com</a></li>
                        </div>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
       </footer>
       <script src="/Arupa/table.js"></script>
    </body>
</html>
