/* Styles for the notification bell */
.notification-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.notification-icon {
    position: relative;
    cursor: pointer;
}

/* Style for the notification icon and change its color */
.notification-icon i.fa-bell {
    color: #fff; /* Change the color to your desired color */
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: none;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
.notification-popup {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
}
